# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Скомпилированные двоичные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib

# Скомпилированные объекты
*.o
*.a
*.out

# Пакеты зависимостей
/vendor/

# Результаты тестов
*.test

# IDE и редакторы
.idea/
.vscode/
*.swp
*.swo

# Логи и отладочные файлы
*.log

# Директория go-модулей
/go.sum
go.work
go.work.sum


# env file
.env
